* {
    margin: 0;
    padding: 0;
    font-family: 'kanit', sans-serif;
    box-sizing: border-box;
}

body {
  background: #3B427F;
}

.head {
    min-height: 30vh;
    width: 100%;
    background: #3B427F;
    background-size: cover;
    position: relative;
    overflow: hidden;
}


nav{
    display: flex;
    padding: 0.2% 4%;
    justify-content: space-between;
    align-items: center;
    background-color: #f1f1f1;
}

nav img{
    width: 70px;
}

.links {
  flex: 1;
  text-align: right;


}

.links ul li {
  list-style: none;
  display: inline-block;
  padding: 8px 20px;
  position: relative;

}

.links ul li a {
  color: #36454F;
  text-decoration: none;
  font-size: 20px;
}

.links ul li a i {
  font-size: 60px;
}

.links ul li::after {
  content: '';
  width: 0%;
  height: 2px;                         /*Navbar hover effect*/
  background:  #3b427f;
  display: block;
  margin: auto;
  transition: .5s;
}

.links ul li:hover::after {
  width: 100%;
}

nav .fa {
  display: none;
}

.home-text {
  width: 90%;
  color: #fff;
  position: absolute;
  top: 50%;
  bottom: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.home-text h1 {
  font-size: 50px;
}




@media (max-width: 1000px){
  .links ul li {
    display: block;
  }

  .links {
    position: fixed;
    background: #f1f1f1;
    height: 100vh;
    width: 200px;
    top: 0;
    right: -200px;
    text-align: left;
    z-index: 2;
    transition: 0.5s;
  }

  .links ul li a {
    font-size: 17px;
  }

  .links ul {
    padding: 30px;
  }

  nav .fa {
    display: block;
    color: #36454F;
    margin: 10px;
    font-size: 22px;
    cursor: pointer;
  }


}

.contain {
  padding: 13px 5%;
  margin-top: 2rem;
}

.m-content {
  margin-top: 100px;
}

.links-imp a {
  text-decoration: none;
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  color: white;
  font-size: 20px;
  width: fit-content;
}

.links-imp a img {
  width: 40px;
  margin-right: 15px;
}

.ridebar-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 18px;
}

.ridebar-title h4 {
  font-weight: 600;
  font-size: 16px;

}

.ridebar-title a {
  text-decoration: none;
  color: #1876f2;
}

.yari {
  display: flex;
  font-size: 14px;
  margin-bottom: 20px;
}

.left-yari {
  background: #fff;
  border-radius: 10px;
  height: 65px;
  width: 65px;
  margin-right: 15px;
  padding-top: 10px;
  text-align: center;
  position: relative;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.yari p {
  font-size: 12px;
}

.yari a {
  font-size: 12px;
  text-decoration: none;
  color: #1876f2;
}

.left-yari span {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: #3b427f;
  color: #fff;
  font-size: 10px;
  padding: 4px 0;
}

.post-thread {
  width: 100%;
  background: #f1f1f1;
  border-radius: 6px;
  padding: 20px;
  color: #626262;
}

.profile {
  display: flex;
  align-items: center;
}

.profile img {
  width: 45px;
  border-radius: 50%;
  margin-right: 10px;
}

.profile p {
  margin-bottom: 5px;
  font-weight: 500;
  color: black;
}

.profile small {
  font-size: 12px;
}

.thread-input-contain {
  padding-left: 10px;
  padding-top: 10px;

}

.thread-input-contain textarea {
  width: 100%;
  border: 0;
  outline: 0;
  border-bottom: 1px solid #ccc;
  background: transparent;
  resize: none;
  font-size: 1.1em;
  font-family: 'Roboto', sans-serif;
  color: black;
}

.thread3-input-contain {
  padding-left: 0px;
  padding-top: 10px;
}

.thread3-input-contain textarea {
  width: 100%;
  border: 0;
  outline: 0;
  border-bottom: 1px solid #ccc;
  background: transparent;
  resize: none;
  font-size: 1.1em;
  font-family: 'Roboto', sans-serif;
  color: black;
}

.post-lks {
  display: flex;
  margin-top: 10px;
}

.post-lks a {
  text-decoration: none;
  display: flex;
  align-items: center;
  color: #626262;
  margin-right: 30px;
  font-size: 13px;
}

.post-lks a img {
  width: 20px;
  margin-right: 10px;
}

.thread-contain {
  width: 60%;
  background: #f1f1f1;
  border-radius: 6px;
  padding: 10px;
  color: #626262;
  margin: 20px 0;
}

.thread3-contain {
  width: 80%;
  background: #f1f1f1;
  border-radius: 6px;
  padding: 20px;
  color: #626262;
  margin: 20px 0;
}

.profile span {
  font-size: 13px;
  color: #626262;
}

.thread-text {
  color: #36454F;
  margin: 15px 0;
  font-size: 25px;
  font-family: 'Roboto', sans-serif;
}

.thread-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.thread-icons div img {
  width: 18px;
  margin-right: 10px;
}

.thread-icons div {
  display: inline-flex;
  align-items: center;
  margin-right: 30px;
}

.thread-post-profile {
  display: flex;
  align-items: center;
}

.thread-post-profile img {
  width: 20px;
  border-radius: 50%;
}

.thread-row a {
  color: #9a9a9a;
  font-size: 40px;
}

.thread-button {
  display: inline-flex;
  height: 50px;
  padding: 0;
  background: #cfe3ff;
  border: none;
  outline: none;
  border-radius: 5px;
  overflow: hidden;
  cursor: pointer;
}

.post-buttext,
.post-buticon {
  display: inline-flex;
  align-items: center;
  padding: 0 24px;
  height: 100%;
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

.post-buticon {
  font-size: 32px;
  background-color: #fffbcd;
  font-weight: 400;
}

.thread-button:hover {
  transform: scale(1.03);
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3);
}

footer {
  width: 100%;
  color: #36454F;
  margin-top: 8rem;
}

.paa-link {
  text-decoration: none;
}

#paa-content {
  background-color: #cfe3ff;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 3rem 3.5rem;

}

#paa-contacts {
  margin-bottom: 0.75rem;
}

#paa-social {
  display: flex;
  gap: 2rem;
  margin-top: 1.5rem;
}

#paa-social .paa-link {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.5rem;
  width: 2.5rem;
  color: #f5f5f5;
  border-radius: 50%;
  transition: all 0.4s;
}

#paa-social .paa-link i {
  font-size: 1.25rem;
}

#paa-social .paa-link:hover {
  opacity: 0.8;
}

#insta {
  background: linear-gradient(#7f37c9, #ff2992, #ff9807);
}

#faceb {
  background-color: #4267b3;
}

#whats {
  background-color: #25d366;
}

.paa-list {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  list-style: none;
}

.paa-list .paa-link {
  color: #777;
  transition: all 0.4s;
}

.paa-list .paa-link:hover {
  opacity: 0.6;
}

#paa-sub {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

#paa-sub p {
  color: #777;
}

#pasok-grupo {
  display: flex;
  align-items: center;
  border-radius: 4px;
}

#pasok-grupo input {

  padding: 0.75rem;
  width: 100%;
}


#pasok-grupo button {
  background: #3b427f;
  border: none;
  color: white;
  padding: 0px 1.25rem;
  font-size: 1.125rem;
  height: 100%;
  border-radius: 0px 4px 4px 0px;
  cursor: pointer;
  transition: all 0.4s;
}

#pasok-grupo button:hover {
  opacity: 0.8;
}

#kopya {
  display: flex;
  justify-content: center;
  background: #fffbcd;
  font-size: 0.9rem;
  padding: 1.5rem;
  font-weight: 100;
  color: #36454F ;
}


@media screen and (max-width: 768px) {

  #paa-content {
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }
}

@media screen and (max-width: 700px) {

  #paa-content {
    grid-template-columns: repeat(1, 1fr);
    padding: 3rem 2rem;
  }
}


@media (max-width: 1000px){
  .thread-text {
    font-size: 20px;
  }

  .thread-icons div img {
    width: 20px;
  }

  .thread-row a {
    font-size: 30px;
  }

  .links-imp a {
    font-size: 18px;
  }

  .thread-contain {
    width: auto;
  }

}

@media (max-width: 700px){

  .thread-text {
    font-size: 17px;
  }

  .thread-icons div img {
    width: 15px;
  }

  .thread-row a {
    font-size: 30px;
  }

  .links-imp a {
    font-size: 20px;
    margin-left: 10px;
  }

  .links-imp a img {
    width: 28px;
    margin-right: 20px;
  }

  .thread-contain {
    width: auto;
  }

  .thread3-contain {
    width: auto;
  }
